/* Reset some default styles */
body,
h1,
form {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  text-align: center;
}

h1 {
  color: #333;
  font-size: 2em;
  margin-bottom: 20px;
}

form {
  display: inline-block;
  text-align: left;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 400px; /* Increase the width for a larger card */
}

label {
  display: block;
  margin-bottom: 20px;
  color: #555;
}

input {
  width: 100%;
  padding: 16px;
  margin-bottom: 24px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 12px 30px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

p {
  margin-top: 20px;
  color: #555;
  font-size: 14px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
h1.logo-t {
  color: #fff;
  font-size: 22px;
}
