<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/accets/css/dashboard.css" />
    <title>Candidate Profile</title>
  </head>
  <body>
    <div id="left-menu">
      <h1 class="logo-t">Placeholder Logo</h1>
      <ul>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/job-portal">Job Portal</a></li>
        <li><a href="/my-jobs">My Jobs</a></li>
        <li><a href="/auth/logout">Sign Out</a></li>
      </ul>
    </div>
    <div id="content">
      <h1>Select Your Role</h1>
      <form action="/job-portal" method="post">
        <label for="selectedRole">Select Role:</label>
        <select id="selectedRole" name="selectedRole">
          <% jobRoles.forEach(role => { %>
          <option value="<%= role.name %>"><%= role.name %></option>
          <% }); %>
        </select>
        <br />
        <button type="submit">Add to My jobs</button>
      </form>
    </div>
  </body>
</html>
